.appointment__shell {
  padding: 150px 0;
  background-color: #02133c;
}
.appointment__shell__main-form {
  background-color: #ffffff;
  padding: 76px 58px 60px 58px;
  min-width: 585px;
  box-sizing: border-box;
}
.appointment__shell__main-form::placeholder {
  font-size: 16px;
  color: red;
}
.appointment__shell__main-form__title {
  font-size: 36px;
  color: #02133c;
  padding-bottom: 48px;
  font-weight: 900;
}
.row {
  display: flex;
  flex-direction: column;
  column-gap: 22px;
  width: 100%;
}

.appointment__input {
  width: 100%;
  padding: 15px 20px;
}

.appointment__input::placeholder {
  font-size: 12px;
}

.appointment-select {
  width: 100%;
}
.appointment__textarea {
  width: 100%;
  height: 180px;
}
.appointment__btn {
  background-color: #e30b0b;
  box-sizing: border-box;
  border: none;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  padding: 9px 30px;
  line-height: 24px;
  letter-spacing: 1px;
  cursor: pointer;
}
.align-appointment-btn {
  display: flex;
  justify-content: flex-end;
}
.align-form {
  display: flex;
  justify-content: center;
}
.alert-success{
  z-index: 1;
  background: #D4EDDA;
  font-size: 18px;
  padding: 20px 40px;
  min-width: 420px;
  position: fixed;
  right: 0;
  top: 85px;
  border-left: 8px solid #3AD66E;
  border-radius: 4px;
}

.alert-error{
  z-index: 1;
  background: #FFF3CD;
  font-size: 18px;
  padding: 20px 40px;
  min-width: 420px;
  position: fixed;
  right: 0;
  top: 10px;
  border-left: 8px solid #FFA502;
  border-radius: 4px;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control label {
  display: inline-block;
  margin-bottom: 5px;
  color: #02133c;
  font-weight: 600;
}
.form-control i {
  visibility: hidden;
  font-size: 25px;
  position: absolute;
  top: 45px;
  right: 10px;
}
.form-control small {
  visibility: hidden;
  position: absolute;
  font-size: 11px;
  bottom: -6px;
  left: 0;
}
.form-control.error small { 
  visibility: visible;
  color: #dc3545;
  font-weight: 600;
}

.form-control.success input {
  border: solid 2px #28a745;
}
.form-control.success i.fa-check-circle {
  visibility: visible;
  color: #28a745;
}
.form-control.error i.fa-exclamation-circle {
  visibility: visible;
  color: #dc3545;
}
.form-control.error input {
  border: solid 2px #dc3545;
}
.form-control .needed {
  border: solid 2px #28a745;
}
.form-control .error-needed {
  border: solid 2px #dc3545;
}
.form-control .show-err-desc {
  visibility: visible;
}
.form-control.error i.error-icon {
  visibility: hidden;
}
.error-icon {
  visibility: hidden;
}
.form-control .hide-desc  {
  visibility: hidden;
}
button:disabled,
button[disabled]{
  opacity: .65;
  cursor: not-allowed;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .row {
    flex-direction: column;
  }
  .appointment__name {
    width: 100%;
  }
  .appointment__email {
    width: 100%;
    margin-top: 22px;
  }
  .appointment__number {
    width: 100%;
  }
  .appointment-select {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .appointment__shell {
    padding: 65px 0;
  }
  .appointment__shell__main-form__title {
    font-size: 25px;
  }
  .appointment__shell__main-form {
    padding: 50px 35px 50px 35px;
    min-width: 200px;
  }
  .row {
    flex-direction: column;
  }
  .appointment__name {
    width: 100%;
  }
  .appointment__email {
    width: 100%;
    margin-top: 22px;
  }
  .appointment__number {
    width: 100%;
  }
  .appointment-select {
    width: 100%;
  }
}
