.carousel__shell {
  background-color: #ffffff;
}
.carousel-item {
  margin-right: 10px;
  height: 208px;
}
.carousel__shell__uptitle {
  padding: 35px 0;
}
.carousel__shell__uptitle::before {
  content: "";
  width: 17px;
  height: 21px;
  background-image: url("/assets/images/overline-mark.svg");
  position: absolute;
}
.carousel__shell__uptitle__content {
  color: #4b4b4b;
  margin-left: 33px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  font-weight: 700;
}


@media (min-width: 1024px) and (max-width: 1439px) { 
  .carousel-item {
    height: 150px;
}
}